# Byte-compiled / optimized / DLL files
__pycache__/
# *.py[cod]
# *$py.class

# development
.vscode

# test folder with test files
debug

# logs
cufile.log
outputs

# coverage
htmlcov

# other
docs/build
docs/source
docs/make.bat
docs/Makefile

# local configs
configs/projects

# pretrained models
*.pth

docker/
# Notebooks
notebooks/

# ruff
.ruff_cache

# slurm
slurm

# example
example/output
outputs
results/wandb
results/slurm


# results
results/PanNuke/SAM/SAM-H/2023-08-08T150447_CellViT-SAM-H-SOTA-Fold-1
results/PanNuke/SAM/SAM-H/2023-08-08T202809_CellViT-SAM-H-SOTA-Fold-2
results/PanNuke/ViT256/2023-08-08T150612_CellViT-256-SOTA-Fold-1
results/PanNuke/ViT256/2023-08-08T201151_CellViT-256-SOTA-Fold-3
results/PanNuke/ViT256/2023-08-08T201154_CellViT-256-SOTA-Fold-2
results/

.DS_Store
example/test_dataset
