# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

_libgcc_mutex=0.1

pip=23.0
libtiff=4.5.0
mako=1.2.4
openslide=3.4.1
openslide-python=1.1.2
pyjwt=2.6.0
python-javabridge
